<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.postapp.domain.post.PostMapper">

	<select id="list" resultType="com.example.postapp.domain.post.Post">
	select * from post
	</select>
	
	<select id="findByNum" resultType="Post">
	select * from post where id = #{id}
	</select>
	
	<insert id="insert">
	insert into post (title, content, author, created)
	values (#{title}, #{content}, #{author}, now())
	</insert>
	
	<update id="update">
	update post set title=#{title} , content=#{content} , created=now() where id=#{id}
	</update>
	
	<delete id="delete">
	delete from post where id=#{id}
	</delete>
</mapper>